<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" > Save </button>
          <button type="button" class="btn btn-danger" > Cancel </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="from-group">
            <label for="name"> Name </label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="from-group">
            <label for="imagePath"> Image URL </label>
            <input type="text" id="imagePath" class="form-control" formControlName="imagePath">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="from-group">
            <label for="description"> Description </label>
            <textarea type="text" id="description" class="form-control" rows="6" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingrediants">
          <div class="row"
          *ngFor="let ingrediantsControl of recipeForm.get('ingrediants').controls;let i = index"
           [formGroupName]="i"
           style="margin-top: 10px;">
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <button type="button" class="btn btn-success" (click)="onAddIngredients()">Add ingrediants</button>
    </form>
  </div>
</div>
