<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success"
        [routerLink]= "['new']">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-recipes-item *ngFor="let Recipe of recipes; let i = index" [item] = "Recipe"
        [index]= "i"></app-recipes-item>
    </div>
</div>

